.about-page {
    text-align: center;
    padding-top: 120px;
}
  
.about-content {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-wrap: wrap; 
  gap: 2rem;
  padding: 2rem;
  border: 2px solid #e6e6fa;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 80%; 
  margin: 1rem auto; 
}
  
.team-image img {
  max-width: 100%; 
  height: auto;  
  border-radius: 10px;
}
  
.team-image {
  height: 20%; 
    overflow: hidden;
    border: 1px solid #e6e6fa;
    padding: 1rem;
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    background-color: #cdc8f7;
    margin: 1rem auto; 
    width: 20%;
    margin-bottom: 2rem;
    object-fit: cover; 
}
.company-info {
  flex: 1; 
}
  